@charset "ISO-8859-1";
body {
  background: #4cbb17;
  box-sizing: border-box;
}

.project-container {
	background: #ffffff;
	border: solid;
	border-radius: 5px;
	padding: 5px;
    width: 65%;
    float: left;
    margin-bottom: 10px;
    height: 350px;
}
.boldLabel{
    font-weight: bold;
}
.milestone-container{
    background: #ffffff;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    float: right;
    height: 350px;
}

.progress-bar {
	color:#000;
	background-color:#f1f1f1;
	border-radius: 5px;
}

.container {
	padding:0.01em 16px;
}

.buttonDelete {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 15px 32px;
    margin-right: 5px;
	text-align: center;
	text-decoration: none;
    display: inline-block;
	font-size: 12px;
	border-radius: 8px;

}

.buttonMilestone{
    background-color: #A0A0A0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    border-radius: 8px;
}

.buttonUpdate {
    background-color: #0000FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    border-radius: 8px;
}

.buttonAdd {
    background-color: #9c27b0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

.buttonMoreInfo{
    background-color: #00FF00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;}

.dateContainerLeft{
    float: left;
    margin-right: 60px;
}


.purple{
	color:#fff;
	background-color:#9c27b0
}